html, body{
  padding: 0;
  margin:0;
  font-size:15px;
  font-family: sans-serif;
  width:100%;
  box-sizing:border-box;
}

#holder-info{
  height:100%;
  width:50%;
  background-color:#1560FB;
  float:left;
  position:fixed;
  display:inline-block;
}

.info-award{
  display:block;
  position:relative;
  top:20px;
  left:0;
}
.info-award a{
  width:73px;
  height:56px;
  background-image: url(https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png);
  background-repeat:no-repeat;
  display:block;

}

.info-main{
  top:15%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.info-headshot{
  height: 170px;
  width: 170px;
  border-radius: 200px;
  box-shadow: 0 10px 15px;
  color:#0A4DD9;
  margin-left:235px;
}

.info-howdie{
  text-align:center;
  font-weight: bold;
  margin: 25px auto auto auto;
  color:#A1BFFD;
  font-size: 12px;
}

.info-text{
}

.info-text-more{
  text-align:center;
  font-weight: bolder;
  color:whitesmoke;
  margin:10px auto;
  font-size: 38px;
  padding: 0 20px;
}

.info-text-more a{
  color:white;
}

.emailbutton{
  margin: 40px auto auto auto;
  color:white;
  background:#1560FB;
  background-color:#1560FB;
  display:block;
  position:relative;
  width:200px;
  padding: 11px 24px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
  font-weight:700;
  height:22px;
}

.info-madeby{
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 27px;
}
.info-madeby-footer{
  float:left;
  margin: 0 0 0 10px;
  font-size:12px;
  padding-top:7px;
  color:white;
  text-decoration: none;
  opacity:0.6;
}
.info-social{
  position: absolute;
  height:27px;
  right: 20px;
  bottom:20px;

}

.emailbutton:hover{
  background-color:#1560FB;
  color:white;
}

#holder-main{
  position: fixed;
  top:0;
  right: 0;
  height:100%;
  width:45%;
  float:right;
  text-align: left;
  overflow-y:scroll;
  overflow-x:hidden;
  display:inline-block;
  margin: 40px 0 0 0;
  padding:20px;
  position:absolute;
}

.main-aboutme{
  display:inline-block;
}

.main-aboutme-tag{
  margin: 5px 30px 0 0;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#1560FB;
  font-weight: 700;
  text-align:left;
  display:block;
  float:left;
  width:80px;
}

.main-aboutme-text{
  max-width: 500px;
  width: 75%;
  line-height: 26px;
  word-wrap: break-word;
  display:block;
  text-align: left;
  float:left;
  font-size: 14px;
  font-weight:400;
  margin:0;
}

.main-aboutme-list{
  margin:20px 0 0 110px;
  float:left;
  list-style-type:none;
  padding: 0;
  line-height:18px;
}

.aboutme-item::before{
  content: "\203A";
  font-size: 18px;
  margin-right: 20px;
  color: #1560FB;
}

.aboutme-item{
  margin-bottom:10px;
  font-weight:700;
}
.main-projects{
  display:block;
  margin:400px 0 0 0;
  padding: 0;
  float:right;
}

.main-projects-tag{
  float:left;
  color:#1560FB;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
  width:80px;
  text-transform: uppercase;
  text-align: left;
  margin: 5px 30px 0 0;
  display:block;

}

.project-description{
  width: 75%;
  max-width:500px;
  display:block;
  float:left;
  word-wrap: break-word;
  line-height:26px;
  margin:0;
}


.projectlink{
  margin:20px 0px 10px 0;
  display:block;
  width: 170px;
  font-size:17px;
  text-decoration: none;
  color:black;
  font-weight: 700;
  position: relative;
}
.projectlink:hover{
  color:#bababa;
}
